[Unit]
Description=Download weather sleep screen
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/root/weather/update-weather.sh
